:root {
    // 主要背景颜色
    --theme-background: #12151c;
    --theme-navigationbar-background: #1b1d29;
    --theme-menu-background: #202330;
    --theme-button-background: #2d3144;
    --menu-background: #1d1d28;
    --theme-box-background: #1d1d29;
    // 辅助背景颜色
    --auxiliary-background-1: #e8134b;
    --auxiliary-background-2: #fa7611;
    --auxiliary-background-3: #52cc77;
    --auxiliary-background-4: #fdd91e;
    --auxiliary-background-5: #5663e9;
    --auxiliary-background-6: #171f2c;
    --auxiliary-background-7: #313343;
    --auxiliary-background-8: #20232f;
    --auxiliary-background-9: #ffe71a;
    --auxiliary-background-10: #85f454;
    --auxiliary-background-11: #616772;
    --auxiliary-background-12: #424455;
    --auxiliary-background-13: #2e3144;
    --auxiliary-background-14: #252633;
    --auxiliary-background-15: #242936;
    --auxiliary-background-16: #c01544;
    --auxiliary-background-17: #232534;
    --auxiliary-background-18: #855af6;
    --auxiliary-background-19: #be1442;
    --auxiliary-background-20: #a2abb6;
    --auxiliary-background-21: #585e77;
    --auxiliary-background-22: #D9384E;
    --auxiliary-background-23: #543BDC;
    --auxiliary-background-24: #5E21D5;
    --auxiliary-background-25: #151434;
    --auxiliary-background-26: #1D1C43;
    --auxiliary-background-27: #2F3445;
    

    // 边框颜色
    --theme-input-border-color: #53535c;
    --theme-input-focus-border-color: #d2cf8f;
    --theme-input-error-border-color: #dd4b4d;
    // 主要字体颜色
    --theme-font-color-fff: #fff;
    --theme-checkbox-font-color: #dea541;
    // 辅助字体颜色
    --auxiliary-font-color-1: #61667d;
    --auxiliary-font-color-2: #585e77;
    --auxiliary-font-color-3: #93acd3;
    --auxiliary-font-color-4: #7e98ae;
    --auxiliary-font-color-5: #a7a7a8;
    --auxiliary-font-color-6: #fff15b;
    --auxiliary-font-color-7: #75ed3d;
    --auxiliary-font-color-8: #43b9d2;
    --auxiliary-font-color-9: #c3cfd9;
    --auxiliary-font-color-10: #1b1d29;
    --auxiliary-font-color-11: #f3b343;
    --auxiliary-font-color-12: #434556;
    --auxiliary-font-color-13: #f0a418;
    --auxiliary-font-color-14: #848b97;
    --auxiliary-font-color-15: #788896;
    --auxiliary-font-color-16: #fb6547;
    --auxiliary-font-color-17: #7992a7;
    --auxiliary-font-color-18: #fbd31e;
    --auxiliary-font-color-19: #fbe852;
    --auxiliary-font-color-20: #a2abb6;
    --auxiliary-font-color-21: #1d1d29;
    --auxiliary-font-color-22: #ff6b6b;
    --auxiliary-font-color-23: #F69D00;
    --auxiliary-font-color-24: #252633;
    --auxiliary-font-color-25: #FFCE20;
    --auxiliary-font-color-26: #F7B722;
    --auxiliary-font-color-27: #5663E9;
    --auxiliary-font-color-28: #F7B52F;


    // input
    --theme-input-placeholder-color: #696b73;
    // 光效颜色
    --photoeffect-font-color: #fffe91;
    --photoeffect-shadow-color: rgba(255, 127, 56, 0.5);
    //help left font padding-left
    --help-left-padding-left: 20px;
}