logs/
npm-debug.log
yarn-error.log
node_modules/
*-lock.json
*-lock.yaml
yarn.lock
coverage/
.idea/
run/
.DS_Store
*.sw*
*.un~
typings/
.nyc_output/
config.default.js
mysql_conf.js
redis_conf.js
Mongo_conf.js
access.log
DBconfig.js